*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(0, 58, 128));
}
h2{
    text-align: center;
    border-bottom: 1px solid ;
    
}
h1{
    text-align: center;
    margin-top: 5%;
}
a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
button{
    color: #222;
    font-weight: 500;
    width: 50%;
    border: 2px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 20px;
}
.btns{
    margin-top: 5%;
    text-align: center;
}
.btns .one:hover{
    background-color: greenyellow;
}
.btns .two:hover{
    background-color: gold
}
.btns .three:hover{
    background-color: red;
}
.head{
    display: flex;
    margin-left: 10%;

}
h1{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
h2{
    text-align: justify;
    margin: 20px;
}
img{
    width: 200px;
    margin-left: 60px;
}
h3{
    margin-left: 60%;
}